[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
torch = "*"
pillow = "*"
lxml = "*"
matplotlib = "*"
torchvision = "*"

[requires]
python_version = "3.6"
