[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
torch = "*"
pillow = "*"
lxml = "*"
matplotlib = "*"
torchvision = "*"
"72aec7c" = {file = "http://download.pytorch.org/whl/cu91/torch-0.4.0-cp36-cp36m-linux_x86_64.whl"}
tqdm = "*"

[requires]
python_version = "3.6"
